# Configuración del Servidor
PORT=3001
NODE_ENV=development


MONGODB_URI=mongodb+srv://Notes:<password>@clusternotes.1wnrszq.mongodb.net/Notes?appName=ClusterNotes

FRONTEND_URL=http://localhost:5173